* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Georgia", serif;
}

body {
    background: white;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #efefef;
}

header nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}


.hero {
    text-align: center;
    padding: 40px 20px;
}

.hero img {
    width: 250px;
    border-radius: 10px;
}

.hero-text h1 {
    margin-top: 20px;
    font-size: 32px;
}

.hero-text p {
    max-width: 500px;
    margin: 10px auto;
}

.icons img {
    width: 50px;
    margin: 10px;
}


.about {
    text-align: center;
    padding: 40px;
}

.about p {
    max-width: 700px;
    margin: auto;
    line-height: 1.6;
}


.projects {
    text-align: center;
    padding: 40px 20px;
}

.project-card {
    border: 1px solid #ccc;
    padding: 20px;
    width: 90%;
    max-width: 700px;
    margin: 25px auto;
    border-radius: 10px;
    background: #fff;
}

.project-card img {
    width: 160px;
    border-radius: 8px;
}

.card-inner {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 15px;
    justify-content: center;
}

.wide-img {
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}


.contact {
    text-align: center;
    padding: 40px;
}

.contact-btn {
    display: block;
    width: 90%;
    max-width: 400px;
    margin: 10px auto;
    padding: 12px;
    border: 1px solid #333;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.contact-btn i {
    margin-right: 10px;
}


@media (max-width: 600px) {
    .card-inner {
        flex-direction: column;
    }

    header {
        flex-direction: column;
        gap: 10px;
    }
}
